<div class="container">
  <h1>Edit student</h1>
 <div class="panel panel-success">
   <div class="panel-heading">
     Edit student
   </div>

   <div class="panel-body">
     <%= render 'form' %>
   </div>
 </div>
</div>
