 <div class="container">
   <h1>Create class</h1>
  <div class="panel panel-success">
    <div class="panel-heading">
      Create new class
    </div>

    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
 </div>
