<style>

footer{
    margin:0 auto;
    padding-top:50px;
    width: 100%;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}
</style>



<footer>
  <div class="copyright">
   <div class="container">

       <div class="row text-center">
        <p>Copyright © 2017 All rights reserved</p>
       </div>

   </div>
  </div>
</footer>
